<!DOCTYPE html>
<head>
    <style>
        table,th,td {
            border: 1px solid black;   
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <th>Task Name</th>
            <th>Due Date</th>
            <th>Description</th>
        </tr>
         
        <% for(var i=0; i <database.length;i++){ %>
            <tr>
                <td>
                    <%= database[i].task %>
                </td>
                <td>
                    <%= database[i].date %>
                </td>
                <td>
                    <%= database[i].desc %>
                </td>
                    
            </tr>
            <% }%>

    </table>

    <a href="/addTask"> Add New Task</a>
    <a href="/"> Home Page</a>
</body>